@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables and Global Styles */
:root {
  --black-clr: #000000;
  --blue-clr: #14213d;
  --yellow-clr: #fca311;
  --gray-clr: #e5e5e5;
  --white-clr: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  scrollbar-gutter: auto;
}

html,
body {
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Typography */
h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  text-wrap: balance;
}

p,
a,
ul,
li {
  font-family: "Poppins", sans-serif;
}

/* Layout */
.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

/* Header Section */
.header {
  background-color: var(--blue-clr);
  color: var(--white-clr);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.header__logo img {
  width: 3rem;
}

.header__navbar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  padding: 2rem 2rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  background-color: var(--blue-clr);
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}

.header__navbar.active {
  opacity: 1;
  visibility: visible;
}

.header__navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.header__navbar__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.header__navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.2s;
  color: var(--white-clr);
}

.header__navbar__link:hover {
  color: var(--yellow-clr);
  border-bottom: 2px solid var(--yellow-clr);
}

.header__navbar__link i {
  font-size: 1.5rem;
}

.open-btn,
.close-btn {
  color: var(--white-clr);
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-btn i,
.close-btn i {
  font-size: 1.5rem;
}

/* Hero Section */
.hero__section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-clr);
  min-height: 100vh;
}

.hero__section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__section__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  order: 2;
}

.hero__section__info p {
  margin-top: 1rem;
}

.hero__section__img {
  order: 1;
  max-width: 20rem;
  margin-bottom: 2rem;
}

.hero__section__img img {
  width: 100%;
  border-radius: 100%;
}

/* Writing Task Section */
.writing__task__section {
  padding-top: 3rem;
  background-color: var(--blue-clr);
  color: var(--white-clr);
}

.writing__task__section h2 {
  text-align: center;
  padding: 0 2rem;
}

.writing__task__section h3 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Evidence Subsection */
.writing__task-evidence-img {
  margin: 0 auto;
}

.writing__task-evidence-img img {
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 1rem;
}

/* Questions Subsection */
.writing__task__section-questions {
  background-color: var(--gray-clr);
  color: var(--black-clr);
}

.writing__task__section-questions-list {
  margin-top: 2rem;
}

.writing__task__section-questions-list h4 {
  margin-bottom: 1rem;
}

.writing__task__section-questions-list em {
  font-weight: 600;
}

/* About Me Subsection */
.writing__task__section-about-me {
  background-color: var(--white-clr);
  color: var(--black-clr);
}

.writing__task-about-me-img {
  margin-top: 2rem;
}

.writing__task-about-me-img img {
  border-radius: 0.25rem;
}

.writing__task-about-me-info {
  margin-top: 2rem;
}

.writing__task-about-me-info h4:nth-of-type(2) {
  margin-top: 2rem;
}

.writing__task-about-me-info p {
  margin-top: 1rem;
}

/* Speaking Task Section */
.speaking__task__section {
  background-color: var(--blue-clr);
  color: var(--white-clr);
  text-align: center;
  justify-content: center;
}

.speaking__task__section__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

/* Media Queries */
@media screen and (min-width: 890px) {
  * {
    font-size: 16px;
  }

  /* Header Section */
  .header__navbar {
    position: static;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
  }

  .header__navbar__list {
    flex-direction: row;
    align-items: center;
  }

  .open-btn,
  .close-btn {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  /* Hero Section */
  .hero__section__wrapper {
    flex-direction: row;
    gap: 2rem;
  }

  .hero__section__info {
    align-items: flex-start;
    text-align: left;
    order: 1;
    flex: 1;
    width: 100%;
  }

  .hero__section__img {
    order: 2;
    flex: 1;
  }

  .hero__section__img img {
    border-radius: 0.5rem 0.5rem 0.5rem 5rem;
  }

  /* Writing Task Section */
  .writing__task__section-questions-wrapper {
    display: flex;
    gap: 2rem;
  }

  .writing__task__section-questions-list {
    flex: 1;
    margin-top: 0;
  }

  /* About Me Subsection */
  .writing__task__section-about-me-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }

  .writing__task-about-me-img {
    flex: 1;
  }

  .writing__task-about-me-info {
    flex: 1;
  }
}
